/**************************************************
  Component: 2-Column Server List
  Credits: Rosie (me@rosie.moe)
  https://github.com/rosieneko/betterdiscord-themes

  Replaces the default 1-column server list with
  a 2-column design. Should be imported AFTER the
  base theme CSS URL and the main theme. Read the
  README.md for more information.
 **************************************************/
.wrapper-1Rf91z {
  width: 115px; }
  .wrapper-1Rf91z .scrollerWrap-2lJEkd {
    width: 130px; }
  .wrapper-1Rf91z .guildSeparator-3s64Iy {
    width: 100%; }
  .wrapper-1Rf91z .wrapper-2lTRaf {
    text-align: center; }
    .wrapper-1Rf91z .wrapper-2lTRaf .guildIcon-VlWW86 {
      display: inline-flex; }
    .wrapper-1Rf91z .wrapper-2lTRaf .circleIconButton-jET_ig {
      display: block;
      margin: 8px auto 0 auto !important; }
