/**************************************************
  Component: 2-Column Server List
  Credits: Rosie (me@rosie.moe)
  https://github.com/rosieneko/betterdiscord-themes

  Replaces the default 1-column server list with
  a 2-column design. Should be imported AFTER the
  base theme CSS URL and the main theme. Read the
  README.md for more information.
 **************************************************/

@import 'variables/_base';

.da-guildsWrapper {
  width: $size-guild * 2 + 45px;

  .scroller-wrap {
    width: $size-guild * 2 + 60px;
  }

  .da-guildSeparator {
    width: 100%;
  }

  .da-guilds {
    text-align: center;

    .da-guild {
      display: inline-flex;

      &.da-guildsAdd {
        display: block;
        margin: 8px auto 0 auto !important;
      }
    }
  }
}