// General Colors
$white: #ffffff;
$black: #000000;
$discord-blue: #7289DA;

// General Variables
$radius-modal: 10px;

// Server List Variables
$border-guild: 2px solid;
$size-guild: 35px;
$boxshadow-guild: 0 0 3px 1px;

// Notice Banner Variables
$notice: #f26522;
$notice-streamer: #593695;
$notice-facebook: #355089;