/**************************************************
  Component: Activity Feed
 **************************************************/

.theme-dark, .theme-light {
  .activityFeed-HeiGwL {
    background: rgba($feed-main-bg, 0.9);
  }

  .header-34ZDfM {
    background: rgba($feed-activity-header-bg, 0.9);
  }

  .body-2WmNzl {
    background: rgba($feed-activity-body-bg, 0.9);
  }
}