/**************************************************
  Component: Chat
 **************************************************/
.noChannel-2EQ0a9, .noChannel-Z1DQK7 {
  background: rgba($bg-chat,0.9) !important;
}

.content .flex-spacer, #friends {
  background: rgba($bg-chat,0.9) !important;
}

.theme-dark, .theme-light {
  #friends .friends-table .friends-row:hover {
    background: rgba($friends-hover-bg,0.7) !important;
  }
}

.chat {
  div[class*=title-], .titleCall-3X0yGQ {
    background: rgba($bg-chat,0.9) !important;
  }

  .theme-dark .titleCall-3X0yGQ {
    background: rgba($bg-private-call-title-dark,0.9) !important;
  }

  .new-messages-bar {
    @include bar-message($chat-new-bg,$chat-new-text,$chat-new-text-action,$chat-new-text-action-hover);
  }

  .jump-to-present-bar {
    @include bar-message($chat-jump-bg,$chat-jump-text,$chat-jump-text-action,$chat-jump-text-action-hover);
  }
}

// Main Chat Text Input
.inner-zqa7da {
  background: rgba($accent-chat-text-input,.5) !important;
}

// NSFW Channel
div[class*=nsfw-] {
  background: rgba($bg-chat,0.9);
}

// Private Calls
.theme-light, .theme-dark {
  .titleCall-_b9o8P, .video-1FfuMD.minimum-1pRSEN {
    background: rgba($bg-private-call, 0.9) !important;
  }
}

.theme-light {
  .titleWrapper-1l0xT9.theme-dark {
    .titleCall-_b9o8P {
      background: rgba($bg-private-call-title-dark, 0.9) !important;
    }
  }
}

// Main Search Bar
.search {
  .search-bar {
    background: rgba($search-bar-bg,.1) !important;
  }
}