/**************************************************
  Component: Default 1-Column Server List
 **************************************************/

.da-guildsWrapper {
  width: $size-guild + 30px;

  .scroller-wrap {
    width: $size-guild + 50px;
  }

  .da-guildSeparator {
    width: $size-guild + 10px;
  }

  // Overriding the default width and height in one go.
  .da-guilds .da-guild,
  .da-guilds .da-guild .da-guildIcon,
  .da-guilds .da-guild .da-guildInner a,
  .da-guildsError {
    line-height: $size-guild;
    width: $size-guild;
    height: $size-guild;
  }

  .da-guilds {
    padding: 10px;

    .da-friendsOnline {
      display: none;
    }

    .da-dms {
      margin-top: 0;

      .da-guild .da-guildInner {
        box-shadow: $boxshadow-guild rgba($white,.8);
      }
    }

    .da-guild {
      width: $size-guild + 4px;
      height: $size-guild + 4px;
      padding: 3px;

      +.da-guild {
        margin-top: 1px !important;
      }

      &.guilds-add {
        margin: 6px 5px 5px 5px;
        padding: 0 !important;
        height: $size-guild;
        width: $size-guild;
      }

      &:before {
        display: none !important;
      }

      &.unread {
        .da-guildInner {
          border: $border-guild transparent;
          border-radius: $size-guild !important;
          box-shadow: $boxshadow-guild rgba($white,.8);
        }
      }

      &.selected {
        .da-guildInner {
          border: $border-guild rgba($white, 1);
          border-radius: $size-guild !important;
          box-shadow: $boxshadow-guild rgba($white,1);
        }
      }

      .da-guildInner {
        background: none;
        background-clip: content-box;
        background-origin: content-box;
        background-size: contain;
        border: $border-guild transparent;
        border-radius: $size-guild !important;
        box-sizing: border-box !important;
        transition: border .25s ease-in-out, box-shadow .25s ease-in-out;
        transition-delay: 0s;
      }

      .da-guildIcon {
        background-clip: content-box;
        background-origin: content-box;
        background-size: contain;
      }

      .da-noIcon {
        font-size: 12px!important;
      }

      .friends-icon {
        background-size: 25px 30px;
        height: $size-guild;
        width: $size-guild;
      }

      &.audio .da-guildInner:after, &.video .da-guildInner:after {
        background-size: 12px;
        height: 16px;
        right: 0;
        top: 0;
        width: 16px;
      }

      .badge {
        bottom: 0;
        right: 0;
      }
    }
  }
}