/**************************************************
  Component: Chat
 **************************************************/

.chat {
  .content {
    div[class*=nsfw-] {
      max-width: 100%;
    }
  }

  .new-messages-bar {
    background: none;
  }

  .jump-to-present-bar {
    background: none;
  }
}

/* This removes the date from underneath the "new messages" divider, if new messages and date overlaps. */
.divider.divider-red + .divider:not(.divider-red) {
  display: none;
}


/* DM Calls */
.private-channel-call {
  margin-bottom: 0;
  top: 0;
}

.theme-light, .theme-dark {
  .ui-video.minimum {
    background: none;
  }

  .private-channel-call {
    background: none;

    &.minimum {
      .private-channel-call-info {
        padding-top: 0;
      }
    }

    &.minimum, &.normal {
      .private-channel-call-actions .center {
        background: none;
        border: none;
      }
    }
  }
}

// Aligning the user icons vertically center
.wrapper-2h3Puq {
  align-items: center !important;
}