/**************************************************
  Component: Channels
 **************************************************/

.channels-3g2vYe {
  background: none;

  // Unread Channels
  .unread-2TDDFN {
    background: none;
  }

  // Voice Connection
  .container-3lnMWU {
    border-bottom: 0;
  }

  .container-iksrDt {
    margin-bottom: 0;
  }
}