/**************************************************
  Elements: Core
 **************************************************/

// Discord Window Title Bar
div[class*=typeWindows-] {
  height: 30px;
  margin: 0;

  div[class*=wordmark-] {
    padding: 7px 8px;
  }

  div[class*=winButton-] {
    height: 12px;
    padding: 9px 26px;
    top: inherit;
    width: 12px;
  }
}

// Base
div[class*=base-] {
  border-radius: 0;
}

// Loading Screen Overlay
.container-16j22k.da-container {
  background: $bg-grey-dark !important;
}

// Scrollbars
div[class*=scroller] {
  &::-webkit-scrollbar {
    width: 12px !important;

    div[class*=channels-] & {
      width: 10px !important;
    }
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid transparent !important;
    border-radius: 10px !important;
    background-clip: content-box !important;
  }

  &::-webkit-scrollbar-track-piece {
    border: 3px solid transparent !important;
    background: none !important;
  }

  &::-webkit-scrollbar-track {
    background: none !important;
  }
}


// Top Bar Notifications
.notice-2FJMB4 {
  border-radius: 0;
}

// Default Notice
.noticeDefault-362Ko2 {
  background: rgba($notice,.8);
}

// Premium
.noticePremium-12Zvj9 {
  background: rgba($notice-premium,.8);
}

// Information Boxes
.noticeInfo-3v29SJ, .noticeInfo-3_iTE1 {
  background: rgba($notice-info,.8);
}

// Grandfathered Plan
.noticePremiumGrandfathered-ollUxF {
  background-image: linear-gradient(270deg, rgba($notice-grandfathered,.8), rgba($notice-grandfathered-2,.8));
}

// Success
.noticeSuccess-3Y62ob {
  background: rgba($notice-success,.8);
}

// Danger
.noticeDanger-7u-yT9 {
  background: rgba($notice-danger,.8);
}

// Streamer Mode
.noticeStreamerMode-2TSQpg {
  background: rgba($notice-streamer,.8);
}

// Facebook
.noticeFacebook-3equ5g {
  background: rgba($notice-facebook,.8);
}

// Spotify
.noticeSpotify-27dhr0 {
  background: rgba($notice-spotify,.8);
}

// Brand
.noticeBrand-3nQBC_  {
  background: rgba($notice-brand,.8);
}



// Search Results
.search-results-wrap {
  .channel-separator {
    .channel-name {
      background: none !important;
    }
  }

  .search-result {
    &:before, &:after, .search-result-message.hit {
      background: none !important;
    }

    &:not(.expanded) {
      .search-result-message {
        &.before, &.after {
          opacity: .5;
        }
      }
    }
  }
}